<!DOCTYPE html>
{% load static %}
<html lang="en">
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Chatting Hub</title>
	<!-- <link rel="stylesheet" type="text/css" href="test.css"> -->
	<link rel="stylesheet" type="text/css" href="{% static '/ChattingApp/css/MobileFirst.css'%}">
</head>
<body>
	<header>
		<div class="head">
			<img class="burger toggle" data-target="list" src="{% static '/ChattingApp/icons/orange-burger.png'%}" />
			<u><h1>C</h1><h2>hatting Hub</h2></u>
		</div>
		<div class="log-details">
			<div class="logged_in hide">
					<img class="usericon m" src="friends/SonGoku.png" />
				<div>
					<p><em><b>Ankit Tamboli</b></em></p>
				<button class="btn logout">Logout</button>
				</div>
			</div>
			<div class="login-btns">
				<p><em><b>Anonymous user</b></em></p>
				<div>
					<button tooltip="Log-In to Account" tooltip-position="bottom" class="btn log_in toggle" id="login_btn" data-target="login">Login</button>
					<button tooltip="Sign-Up to Create Account" tooltip-position="bottom" class="btn signup_btn toggle" id="signup_btn" data-target="signup">Sign up</button>
				</div>
			</div>
		</div>
	</header>
	<div class="main">
		<section class="login form" id="login">
			<form request="post">
				<fieldset>
					<legend> Login </legend>
					<label>Useranme : </label>
					<input type="text" name="username" placeholder="Enter your username" />
					<label>Password : </label>
					<input type="password" name="password" placeholder="Enter your password" />
					<div class="submit_btn"> 
						<input type="button" class="submit" name="submit" value="submit" />
					</div>
				</fieldset>
			</form>
		</section>
		<section class="signup form" id="signup">
			<form request="post">
				<fieldset>
					<legend> SignUp </legend>
					<div class="avatar_disp">
						<img class="avatar" src="{% static '/ChattingApp/images/SonGoku.png' %}">
					</div>
					<label>Avatar : </label><br>
					<input type="file" class="file_in" name="username" placeholder="Enter your username" /><br>
					<label>Username : </label><br>
					<input type="text" name="username" placeholder="Enter your username" /><br>
					<label>Password : </label><br>
					<input type="password" name="password" placeholder="Enter your password" /><br>
					<label>Confirm Password : </label><br>
					<input type="password" name="password_again" placeholder="Enter your password again" /><br>
					<label>Birth Date: </label><br>
					<input type="date" name="birthdate" placeholder="Enter your Birth Date" /><br>
					<div class="submit_btn">
						<input type="button" class="submit" name="submit" value="submit" />
					</div>
				</fieldset>
			</form>
		</section>
		<section class="list">
			<div class="chat-name">
				<div class="head">
					<img class="usericon" src="{% static '/ChattingApp/icons/friends.png'%}" />
					<h3 class="username">Chat List</h3>
					<!-- <img class="burger" src="icons/white-hamburger.jpg" /> -->
				</div>
			</div>
			<div class="list-display">	
				<ul>
					{% for i in chat_list %}
					<li class="user">
						<img class="usericon" src="/media/{{i.usericon}}" />
						<div class="stack">
							<h3 class="username">{{i.username}}</h3>
							<p>{{i.about_me}}</p>
						</div>
					</li>
					{% endfor %}
				</ul>
			</div>
		</section>
		<section class="chat-window">
			<div class="chat-name">
				<div class="head">
					<img class="usericon" src="icons/user1.svg" />
					<h3 class="username">Ankit Tamboli</h3>
				</div>
			</div>
			<div class="chat-display">
				<div class="message-row" >
					<div class="message">
						<p class="text">Hello my name is Ankit...</p>
						<p class="timestamp">10:39pm</p>
						<!-- <img class="reply-button" src="icons/reply.png"></img> -->
					</div>
					<img class="share-button" src="{% static '/ChattingApp/icons/reply.png' %}"></img>
				</div>
				<div class="message-row typer">
					<div class="message typer">
						<p class="text">Hello my name is Divya...</p>
						<p class="timestamp">10:39pm</p>
					</div>
						<img class="share-button" src="icons/reply.png"></img>
					<!-- <img class="share-button " src="icons/reply.png"></img> -->
				</div>
				<div class="message-row">
					<div class="message">
						<p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
						<span class="timestamp">6:55am</span>
						<!-- <img class="reply-button" src="icons/reply.png"></img> -->
					</div>
					<img class="share-button " src="icons/reply.png"></img>
				</div>
				<div class="message-row typer">
					<div class="message typer">
						<p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
						<span class="timestamp">6:55am</span>
						<!-- <img class="reply-button" src="icons/reply.png"></img> -->
					</div>
					<img class="share-button " src="icons/reply.png"></img>
				</div>
				
				<div class="message-row typer">
					<div class="message typer">
						<p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
						<span class="timestamp">6:55am</span>
					</div>
						<img class="share-button" src="icons/reply.png"></img> 
					 <!-- <img class="share-button " src="icons/reply.png"></img>  -->
				</div>

			</div>

			<div class="message-input">
					<textarea id="type-area" placeholder="Enter your message" cols="20" rows="1"></textarea>
					<!-- <input type="button" src="icons/user4.png" class="send-button" id="send-button" value="Send" /> -->
					<a href="#">
						<img class="send-button" src="{% static '/ChattingApp/icons/white-send.png'%}">
					</a>
			</div>
		</section>

	</div>
	<footer>
		<h2>Created by Ankit Tamboli</h2>
	</footer>
	<script src="{% static '/ChattingApp/js/jquery-3.6.0.js'%}"></script>
	<script src="{% static '/ChattingApp/js/test.js'%}"></script>

</body>
</html>
