<!DOCTYPE html>
<!-- {% load static %} -->
<html lang="en">
<html>
<head>
    <meta charset="UTF-8">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Chatting Hub</title>
	<link rel="stylesheet" type="text/css" href="static/css/MobileFirst.css">
<!-- 	<link rel="stylesheet" type="text/css" href="{% static '/ChattingApp/css/MobileFirst.css'%}"> -->
</head>
<body>
	<header>
		<div class="head">
			<img class="burger toggle" data-target="list" src="static/icons/orange-burger.png" />
			<u><h1>C</h1><h2>hatting Hub</h2></u>
		</div>
		<div class="log-details">
			<div class="logged_in hide">
					<img class="usericon m" src="static/friends/SonGoku.png" />
				<div>
					<p><em><b>Ankit Tamboli</b></em></p>
				<button class="btn logout">Logout</button>
				</div>
			</div>
			<div class="login-btns">
				<p><em><b>Anonymous user</b></em></p>
				<div>
					<button tooltip="Log-In to Account" tooltip-position="bottom" class="btn log_in toggle" id="login_btn" data-target="login">Login</button>
					<button tooltip="Sign-Up to Create Account" tooltip-position="bottom" class="btn signup_btn toggle" id="signup_btn" data-target="signup">Sign up</button>
				</div>
			</div>
		</div>
	</header>
	<div class="main slide">
		<section class="login form" id="login">
			<form request="post">
				<fieldset>
					<legend> Login </legend>
					<label>Useranme : </label>
					<input type="text" name="username" placeholder="Enter your username" />
					<label>Password : </label>
					<input type="password" name="password" placeholder="Enter your password" />
					<div class="submit_btn"> 
						<input type="button" class="submit" name="submit" value="submit" />
					</div>
				</fieldset>
			</form>
		</section>
		<section class="signup form" id="signup">
			<form request="post">
<!-- 				<fieldset>
					<legend> SignUp </legend>
					<div class="avatar_disp">
						<img class="avatar" src="static/friends/SonGoku.png">
					</div>
					<label>Avatar : </label><br>
					<input type="file" class="file_in" name="username" placeholder="Enter your username" /><br>
					<label>Username : </label><br>
					<input type="text" name="username" placeholder="Enter your username" /><br>
					<label>Password : </label><br>
					<input type="password" name="password" placeholder="Enter your password" /><br>
					<label>Confirm Password : </label><br>
					<input type="password" name="password_again" placeholder="Enter your password again" /><br>
					<label>Birth Date: </label><br>
					<input type="date" name="birthdate" placeholder="Enter your Birth Date" /><br>
					<div class="submit_btn">
						<input type="button" class="submit" name="submit" value="submit" />
					</div>
				</fieldset> -->
				<fieldset>
					<legend> SignUp </legend>
					<div class="scroll">
						<div class="top_form">
							<div class="avatar_disp">
								<label><h2>Avatar</h2></label>
								<img class="avatar" src="static/friends/SonGoku.png">
								<input type="file" class="file_in" id="avatar" name="avatar" />
							</div>
							<div class="basic">
								<label class="lsform">First Name : </label>
								<input type="text" id="fname" name="fname" placeholder="Enter your First Name" />
								<label class="lsform">Last Name : </label>
								<input type="text" id="lname" name="lname" placeholder="Enter your Last Name" />
								<label class="lsform">About You : </label>
								<input type="text" id="bio" name="bio" placeholder="Enter About You" />
								<label class="lsform">Birth Date: </label>
								<input type="date" id="birthdate" name="birthdate" />
							</div>
							<div class="auth_info">
								<label class="lsform">Email* : </label>
								<input type="email" id="email" name="email" placeholder="Enter your E-mail" />
								<label class="lsform">Username : </label>
								<input type="text" id="username" name="username" placeholder="Enter your username" />
								<label class="lsform">Password : </label>
								<input type="password" id="password" name="password" placeholder="Enter your password" />
								<label class="lsform">Confirm Password : </label>
								<input type="password" id="confirm_pass" name="confirm_pass" placeholder="Enter your password again" required="" />
							</div>
						</div>
					</div>
					<div class="submit_btn">
						<input type="submit" class="submit" name="submit" value="SUBMIT" />
					</div>
				</fieldset>
			</form>
		</section>
	</div>
	<div class="main flex">
		<section class="list">
			<div class="chat-name">
				<div class="head">
					<img class="usericon" src="static/icons/friends.png" />
					<h3 class="username">Chat List</h3>
					<!-- <img class="burger" src="icons/white-hamburger.jpg" /> -->
				</div>
			</div>
			<div class="list-display">	
				<ul>
<!-- 					{% for i in chat_list %} -->
					<li class="user">
						<img class="usericon" src="static/friends/SonGoku.png" />
						<div class="stack">
							<h3 class="username">Son Goku</h3>
							<p>{{i.about_me}}</p>
						</div>
					</li>
					<li class="user">
						<img class="usericon" src="static/friends/MitsuhaMiyamizu.png" />
						<div class="stack">
							<h3 class="username">Mitsuha Miyamizu</h3>
							<p>{{i.about_me}}</p>
						</div>
					</li>
					<li class="user">
						<img class="usericon" src="static/friends/Beerus.png" />
						<div class="stack">
							<h3 class="username">Beerus</h3>
							<p>{{i.about_me}}</p>
						</div>
					</li>
					<li class="user">
						<img class="usericon" src="static/friends/AsakuraYoh.png" />
						<div class="stack">
							<h3 class="username">Asakura Yoh</h3>
							<p>{{i.about_me}}</p>
						</div>
					</li>
					<li class="user">
						<img class="usericon" src="static/friends/PrinceVegeta.png" />
						<div class="stack">
							<h3 class="username">Prince Vegeta</h3>
							<p>{{i.about_me}}</p>
						</div>
					</li>
					<li class="user">
						<img class="usericon" src="static/friends/Senku.png" />
						<div class="stack">
							<h3 class="username">Senku</h3>
							<p>{{i.about_me}}</p>
						</div>
					</li>
					<li class="user">
						<img class="usericon" src="static/friends/Tsukasa.png" />
						<div class="stack">
							<h3 class="username">Tsukasa</h3>
							<p>{{i.about_me}}</p>
						</div>
					</li>
					<li class="user">
						<img class="usericon" src="static/friends/TakiTachibana.png" />
						<div class="stack">
							<h3 class="username">Taki Tachibana</h3>
							<p>{{i.about_me}}</p>
						</div>
					</li>
<!-- 					{% endfor %} -->
				</ul>
			</div>
		</section>
		<section class="chat-window">
			<div class="chat-name cn">
				<div class="head">
					<img class="usericon" src="static/icons/user1.svg" />
					<h3 class="username">Ankit Tamboli</h3>
				</div>
			</div>
			<div class="chat-display">
				<div class="message-row" >
					<div class="message">
						<p class="text">Hello my name is Ankit...</p>
						<p class="timestamp">10:39pm</p>
						<!-- <img class="reply-button" src="icons/reply.png"></img> -->
					</div>
					<img class="share-button" src="static/icons/reply.png"></img>
				</div>
				<div class="message-row typer">
					<div class="message typer">
						<p class="text">Hello my name is Divya...</p>
						<p class="timestamp">10:39pm</p>
					</div>
						<img class="share-button" src="static/icons/reply.png"></img>
					<!-- <img class="share-button " src="icons/reply.png"></img> -->
				</div>
				<div class="message-row">
					<div class="message">
						<p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
						<span class="timestamp">6:55am</span>
						<!-- <img class="reply-button" src="icons/reply.png"></img> -->
					</div>
					<img class="share-button " src="static/icons/reply.png"></img>
				</div>
				<div class="message-row typer">
					<div class="message typer">
						<p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
						<span class="timestamp">6:55am</span>
						<!-- <img class="reply-button" src="icons/reply.png"></img> -->
					</div>
					<img class="share-button " src="static/icons/reply.png"></img>
				</div>
				
				<div class="message-row typer">
					<div class="message typer">
						<p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
						<span class="timestamp">6:55am</span>
					</div>
						<img class="share-button" src="static/icons/reply.png"></img> 
					 <!-- <img class="share-button " src="icons/reply.png"></img>  -->
				</div>

			</div>

			<div class="message-input">
					<textarea id="type-area" placeholder="Enter your message" cols="20" rows="1"></textarea>
					<!-- <input type="button" src="icons/user4.png" class="send-button" id="send-button" value="Send" /> -->
					<a href="#">
						<img class="send-button" src="static/icons/white-send.png">
					</a>
			</div>
		</section>

	</div>
	<footer>
		<h2>Created by Ankit Tamboli</h2>
	</footer>
	<script src="static/js/jquery-3.6.0.js"></script>
	<script src="static/js/test.js"></script>

</body>
</html>
