*{
	margin:0;
	padding: 0;
}
html{
	font-size: 16px;
}

body{
	font-size: 16px;
	margin:0 auto;
	max-width: 99.5vw;
	max-height: 100vh;
}

header{
	box-sizing: border-box;
	max-height: 15vh; 
	padding: 1rem;
	color: coral;
	background-color: #1a1c19;
	text-align: center;
	/*
	max-height: 12.5vh; 
	padding: 5px;
	color: white;
	background-color: #1a1c19;
	text-align: center;
	border-bottom: 3px solid black;*/
}
header>h1{
	font-size: 4rem;
}
.main{
	/*min-height: calc(99vh - 12vh);*/
	max-height: calc(100vh - 15vh);
	display: flex;
	justify-content: space-between;
}
.list{
	box-sizing: border-box;
	border: 3px dashed black;
	border-top: 0;
	background-color: #bfff93;
	width: 26.8%;
	display: flex;
	flex-direction: column;
}
.list-head h3{
	font-size: 2.2rem;
	text-align: center;
}
.fl{
	margin: 0 -3px 0 -3px;
	padding: 0.3rem;
	padding-left: 1rem;
	border: 3px solid black;
	border-top:0;
	border-radius: 0 0 20px 20px;
	background-color: #f26565;
}

.list-display{
	overflow-y: scroll;
	list-style-type: none;
}
.user{
	max-height: 3.2rem;
	padding:  0.4rem;
	padding-left: 1rem;
	border-bottom: 1px solid black;
	border-right: 1px dashed black;
	overflow: hidden;
	display: flex;
}
.stack{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.chat-window{
	display: flex;
	flex-direction: column;
	border: 3px dashed black;
	border-top: 0;
	border-radius: 0 0 0 85px;
	background-color: cyan;
	width: 72%;
}
.chat-display{
	overflow-y: scroll;
	/*height: calc(100% - 12.2vh);*/
	height: 100%;
}

.chat-name{
	display: flex;
	align-items: center;
	/*z-index: 4;*/
	background-color: #d9d9d9;
}
.chat-name h3{
	margin-left: 0.8rem;
	font-size: 2rem;
}
.usericon{
	width: 2.5rem;
	border: 3px solid black;
	border-radius: 50px;
}
.user h3{
	margin-left: 0.8rem;
	font-size: 1.4rem;
}
.user p{
	margin-left: 0.8rem;
	font-size: 1.2rem;
}

.message-row{
	display: flex;
	align-items: flex-end;
}

.message{
	max-height: 100%;
	max-width: 60%;
	margin: 3px 0px 1px 5px;
	padding: 2px 5px 2px 2px;
	
	display: inline-flex;
	align-items: flex-end;

	background-color: gold;
	border: 2px solid black;
	border-radius: 0 20px 20px 0;
}
.typer{
	justify-content: flex-end;
	border-radius: 20px 0 0 20px;

}
.message-text{
	font-size: 1.3rem;
	margin-left: 0.8rem;
}

.timestamp{
	opacity: 0.7;
	text-align: right;
	font-weight: bold;
	font-size: 0.75rem;
	margin: .5rem .3rem 0 1.2rem;
}
.reply-button{
	width: 15px;
	height: 15px;
}
.share-button{
	margin: -3px 0 0px 0;
	width: 15px;
	height: 15px;
}
.message-input{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 15%;
	border: 1px dashed black;
	border-radius: 0 0 0 1000px;
	background-color: orange;	
}
#type-area{
	resize: none;
	height: 80%;
	width: 75%;
	margin: 0 15px 0 0;
	font-size: 1.4rem;
	color: black;
	border: 3px solid black;
	/*border-radius: 0 0 0 100px;*/
	
}
#type-area:focus{
	background-color: pink;

}
#send-button{
	font-size: 1.2rem;
	margin: 0 1rem 0 0;

}




@media (max-width: 992px) {
  html{
  	font-size: 25px;
  }
  .nav-trigger {
    display: block;
  }
  .list {
    display: none;
  }
  .chat-window{
  	width: 100%;
  	border-radius: 0;
  }
  .chat-window .chat-display{
  	padding: 0.5rem 0.8rem;
  }
  .message-text{
  	font-size: 1.6rem;
  }
  .message-input{
  	border-radius: 0;
  	justify-content: space-around;
  }
  #type-area{
  	/*flex: 4;*/
  	width: 80%;
  	font-size: 1.5rem;
  	border-radius: 50px;
  	padding: 0.2rem 0.1rem 0.2rem 0.7rem;
  	/*margin-right:40px;*/
  }
  #send-button{
  	font-size: 1.5rem;
  }
}
/*@media 
@media (max-width: 768px) {
  
}

@media (max-width: 576px) {
  
}*/
